@import '../../../main.scss';

.login{
   // background-color:#ccc;
    min-height: 100vh;
    header{
        padding:15px 0;
        margin-top:20px;
        border-bottom: 1px solid $blueLight;
        .flex{
            max-width: 1280px;
            justify-content: space-between;
        }
        .logo{
            span{
                font-size:25px;
                color:$blueLight;
            }
        } 
    }
}  