@import '../../main.scss';
.component_item_list_hero{
    .item_mobile{display: none;} 
    .item_desktop{
    background-color:$grayLight;
    width: 100%;
    border-bottom: 0.1px solid $blueLight;
 
     .box_title{
         border-top-right-radius:10px ;
         border-top-left-radius: 10px;
         background-color: black;
         color:white;
     }
     .box{
        width:17.3% ; 
        padding:6px 5px; 
    } 
     .box:first-child{
         width:20% ; 
     }

     .box:nth-of-type(2){
         width: 8%;
    } 
     .box:nth-of-type(6){
        width: 10%;
        a{
            color:$blueLight;
            cursor: pointer;
            text-decoration:none;
        }
        a:hover{
            text-decoration:underline;
            
        }
        a:visited{
            color:$blueLight;
        }
        a:active{
            color:$blueLight;
        }
    }
    .box:nth-of-type(7){
        width: 10%;
            span{
                color:red;
                cursor: pointer;
            }
            span:hover{
                text-decoration:underline;
            }
        
    }

    
    }
}  

@media only screen and (max-width: 768px) {

    .component_item_list_hero{
        .item_desktop{display: none;}
  .item_mobile{
        display: block;
        background-color:$grayLight;
        width: 100%;
        border-bottom: 1px solid $blueLight;
    
         .box_title{
             border-top-right-radius:10px ;
             border-top-left-radius: 10px;
             background-color: black;
             color:white;
         }
     
        .box{ 
                width: 50%; 
                padding:1px 5px;    
            } 
            .box:nth-last-child(2){
                a{
                    color:$blueLight;
                    cursor: pointer;
                    text-decoration:none;
                }
                a:hover{
                    text-decoration:underline;
                }
            }
            .box:last-child{
                span{
                    color:red;
                    cursor: pointer;
                }
                span:hover{
                    text-decoration:underline;
                }
            }
        }

    }
}

