@import '../../main.scss';
.item_lista_batalha_component{
 width: 20%;
 background-color: #F8F8F8;
 position: relative;
 margin: 10px 20px;

 .x{
     position: absolute;
     top:-5%;
     left: 50%;
     
     span{
         color:red;
         font-size:30px;
     }
 }

.box_batalha{
    width: 100%;

    .sub_box_batalha{
        width: 50%;
        font-size: 14px;
        header{
            background-color: blue;
            color:white;
            padding: 5px;
        }
        header.heroi{
            border-top-left-radius: 5px;
        }
        header.moster{
            border-top-right-radius: 5px;
        }
        .box_text{
           border-bottom: 1px solid #ccc;
           padding: 2px 2px;

        }
        
    }
    .sub_box_batalha:nth-of-type(3){
        width: 100%;
    }
    }
}

@media only screen and (max-width: 768px) {
    .item_lista_batalha_component{
        width: 48%;
        margin: 5px 2px;
        .x{      
            span{
                color:red;
                font-size:25px;
            }
        }
       
    .box_batalha{
        .sub_box_batalha{
            font-size: 13px;

        }
    }
}
}


 