.container_list_heroes{
    margin-top: 10px;
   max-width: 800px;
    width: 100%;
    .box_heroes{
        min-height: 600px;
        width: 100%;
        justify-content: center;
        }
        .box_paginacao{
            justify-content: center;
        }
  .lista_de_herois_vazia{
      margin-top: 30px;
      text-align: center;
      span{
          
      }
  } 
    } 